SECRET_KEY=django-insecure-cambia-esta-clave
DEBUG=True
DB_NAME=nombre_base_datos
DB_USER=usuario_base_datos
DB_PASSWORD=clave_base_datos
DB_HOST=host_base_datos
DB_PORT=5432
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_CLOUD_NAME=CLOUD_NAME
CLOUDINARY_API_KEY=API_KEY
CLOUDINARY_API_SECRET=API_SECRET
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=correo_envia@gmail.com
EMAIL_HOST_PASSWORD=clave_de_aplicacion_gmail_sin_espacios
DEFAULT_FROM_EMAIL=correo_envia@gmail.com
ADMIN_RECOVERY_EMAIL=correo_admin@gmail.com
